<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="content" th:remove="tag">
    <div class="m-2">
      <label class="font-md" >Short Description</label>
      <div class="border font-sm" style="padding: 15px 15px 15px 30px" th:utext="${product.shortDescription}"></div>
    </div>
    <div class="m-2">
      <label class="font-md" >Full Description</label>
      <div class="border p-4 font-sm" th:utext="${product.fullDescription}"></div>
    </div>
  </th:block>
</body>
</html>