<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-danger" id="modalTitle">Warning</h2>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <span id="modalBody" style="font-size: 1.4rem"></span>
          </div>

          <div class="modal-footer">
            <button type="button" style="font-size: 1.4rem" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title text-danger">Delete Confirmation</h2>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <span id="confirmText" style="font-size: 1.4rem"></span>
          </div>

          <div class="modal-footer">
            <a class="btn btn-success " id="buttonYes" style="font-size: 1.4rem;width: 50px" href="">Yes</a>
            <button type="button" style="font-size: 1.4rem;width: 50px" class="btn btn-danger ml-3" data-dismiss="modal">No</button>
          </div>

        </div>
      </div>
    </div>

</body>
</html>