<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{fragments :: page_Head('Brands - ZuesShop','none')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{navigation :: menu}"></div>

    <section class="m-4">
        <h1 class="title color-title">Manage Brand</h1>
    </section>

    <hr class="bold-hr mb-5">

    <!--  Tạo alert thông báo-->
    <div th:replace="~{fragments :: meassage(${messageSuccess}, ${messageError})}"></div>
<!--          Search-->
    <div th:replace="~{fragments :: search('/brands','tag')}"></div>

<!--    Table Category-->
    <p class="my-4">
        <a class="btn btn-square-pink fa-2x mr-3" title="Create New Brand"
           th:href="@{/brands/new}">
            <i class="bi bi-plus-square-fill fa-solid fa-plus"></i>
        </a>
        <a class="btn btn-square-pink fa-2x mr-3" title="Export to CSV"
           th:href="@{/brands/export/csv}">
            <i class="bi bi-plus-square-fill fa-solid fa-file-csv"></i>
        </a>
        <a class="btn btn-square-pink fa-2x mr-3" title="Export to Excel"
           th:href="@{/brands/export/excel}">
            <i class="bi bi-plus-square-fill fa-solid fa-file-excel"></i>
        </a>
    </p>

    <div class="full-details">
        <table class="table table-hover table-bordered table-striped table-responsive-sm">
            <thead>
            <tr>
                <th class="th_td_table">Brand ID</th>
                <th class="th_td_table">Logo</th>
                <th th:replace="~{fragments :: column_Link('/brands','name','Brand Name','none')}"></th>
                <th class="th_td_table" width="40%" >Categories</th>
                <th class="th_td_table">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${listBrands}">
                <td class="th_td_table" >[[${item.id}]]</td>
                <td class="th_td_table">
                    <img th:if="${item.logo == 'default_brand.jpg'}" class="entity_images"  style="width: 150px; height: 150px; " th:src="@{/images/default_brand.jpg}">
                    <img th:if="${item.logo != 'default_brand.jpg'}" class="entity_images"  style="width: 150px; height: 150px; " th:src="@{${item.getLogosPath()}}" >
                </td>
                <td class="th_td_table" >[[${item.name}]]</td>
                <td class="th_td_table">
                    <th:block th:each="cat : ${item.categories}">

                        <span style="font-weight: 500; background: #df5e9c"
                              class="badge badge-info th_td_table" >[[${cat.name}]]</span>

                    </th:block>
                </td>
                <td class="text-center" style="vertical-align: middle">
                    <a th:replace="~{fragments :: edit('/brands/', ${item.id}, 'brand')}"></a>
                    <a th:replace="~{fragments :: delete('/brands/', ${item.id}, 'brand', true)}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--less Details-->
    <div class="less-details mt-5">
        <div th:each="item, index : ${listBrands}" style="display: grid">
            <article class="article-wrapper mb-5" style="place-self: center;">
                <div >
                    <img class="rounded-lg container-project" th:src="@{${item.getLogosPath()}}">
                </div>
                <div class="project-info" style="position:relative; ">
                    <div class="flex-pr" style="margin-right: -10px;">
                        <div class="project-title text-nowrap">[[${item.name}]]</div>
                        <a class="project-hover" th:id="'editCard' + ${index.count}" th:href="@{'/brands/edit/' + ${item.id}}" title="Edit this brand">
                            <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>
                    <div class="types" th:id="'action' + ${index.count}">
                        <div class="col-8" style="padding: 0">
                            <th:block th:each="cat : ${item.categories}">

                        <span style="font-size: 1.3rem; font-weight: 500; vertical-align: middle; text-align: center; background: #df5e9c"
                              class="badge m-1 badge-info" >[[${cat.name}]]</span>

                            </th:block>
                        </div>
                        <div style="position: absolute; bottom: 0; right: 0;" class="col-4">
                            <a th:replace="~{fragments :: delete('/brands/', ${item.id}, 'brand', true)}"></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div th:replace="~{modal_fragment :: confirm_modal}"></div>

    <div th:replace="~{fragments :: pagination('brands', 'brands')}"></div>

    <div class="text-center" style="font-size: 1.4rem">
        <p th:replace="~{fragments :: footer}"></p>
    </div>

</div>

<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURl = "[[@{/brands}]]";

    $(document).ready(function (){
        $(".link-delete").on("click",function (e){
            e.preventDefault();

            showDeleteConfirmModal($(this),'brand');
        });

    });

</script>
</body>
</html>