<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_Head('Create New Brand','none')}"></head>
<body>
<div class="container-fluid">
  <div th:replace="~{navigation :: menu}"></div>

  <section class="get_in_touch">
    <h1 class="title">[[${pageTitle}]]</h1>

    <form th:action="@{/brands/save}" method="post" th:object="${brand}"
          onsubmit="return checkUniqueBrand(this)"
          enctype="multipart/form-data">
      <input type="hidden" th:field="*{id}">
      <div class="container">
        <div class="contact-form row">
          <div class="col-md-8 offset-md-2 my-5">
            <input  class="input-text js-input-form" type="text" th:field="*{name}" required minlength="3" maxlength="128">
            <label  class="label">Brand Name:</label>
          </div>

          <div class="col-md-8 offset-md-2" style="align-items: center;justify-content: left; margin-bottom: 3rem;">
            <input type="hidden" th:field="*{logo}">
            <label for="fileImage" class="label_new-user-role ">Brand Logo:</label>
            <input  id="fileImage" name="FileImageBrand"  class="js-input-form ml-2" style="font-size: 1.4rem" type="file" accept="image/png, image/jpeg"
                    th:required="${brand.id == null}">
          </div>

          <div class="form-field col-lg-12" style="align-items: center; margin-top:0">
            <img  id="thumbnail" alt="Images preview" class="entity_images" th:src="@{${brand.logosPath}}" />
          </div>

          <div class="col-md-8 offset-md-2 align-items-center justify-content-start">
            <label  class="label_new-user-role col-3 p-0" style="white-space: nowrap;">Select one or more categories:</label>
          </div>

          <div class="col-md-8 offset-md-2 my-5" style="align-items: center;display:flex; justify-content: center; margin-top: 0">
            <select class="select form-control col-9" style="resize: vertical; font-size: 1.4rem" th:field="*{categories}"
                    multiple required>
              <th:block th:each="category : ${listCategories}">
                <option th:value="${category.id}">[[${category.name}]]</option>
              </th:block>
            </select>
          </div>

          <div class="col-md-2 offset-md-2" style="position: relative; top: 9px; display: flex; justify-content: left; margin-bottom: 5px">
            <label  class="label_new-user-role col-3 p-0" style="white-space: nowrap;">Chosen categories:</label>
          </div>

          <div class="col-md-7 offset-md-1 my-3" id="chosenCategory"></div>

          <div class="form-field col-lg-6">
            <input class="btn-submit" type="submit" value="Save" >
          </div>
          <div class="form-field col-lg-6">
            <input class="btn-cancel" type="button" value="Cancel" id="btn-Cancel">
          </div>
        </div>
      </div>
    </form>
  </section>

  <div th:replace="~{modal_fragment :: modal_dialog}"></div>

  <div class="text-center" style="font-size: 1.4rem">
    <p th:replace="~{fragments :: footer}"></p>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">
  moduleUrl = "[[@{/brands}]]"

  $(document).ready(function (){
    dropdownCategories = $('#categories');
    divChosenCategory = $('#chosenCategory');

    dropdownCategories.change(function (){
      divChosenCategory.empty();
      showChosenCategories();
    })
    showChosenCategories();
  })

  function showChosenCategories() {
    dropdownCategories.children("option:selected").each(function (){
      selectCategory = $(this);
      catId = selectCategory.val();
      catName = selectCategory.text().replace(/^\(\*+\)/, '');

      divChosenCategory.append("<span style='font-size: 1.5rem; font-weight: 500; background: #a72878'  class='badge m-1 badge-info'> " + catName + "</span>")
    })
  }

  function checkUniqueBrand(form){
    url = "[[@{/brands/check_unique}]]"
    brandId = $('#id').val();
    brandName = $('#name').val();

    csrfValue = $("input[name = '_csrf']").val();
    params = {id : brandId, name : brandName, _csrf : csrfValue};

    $.post(url,params,function (response){
      if(response === "OK"){
        form.submit();
      }else if(response === "Duplicate"){
        showWarningModal("There is another brand having same name: " + brandName);
      }else {
        showErrorModal("Unknow response form server");
      }
    }).fail(function (){
      showErrorModal("Could not connect to server");
    })

    return false;
  }

</script>
</body>
</html>